<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Kyselyt</title>
</head>
<body>
    <!-- aloitussivu -->

    <!-- HEADER -->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="index" th:href="@{/index}" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="uusikysely" th:href="@{/uusikysely}" class="nav-link">Uusi kysely</a></li>
            <li class="nav-item list-group-item-danger "><a href="#" class="nav-link" >Log out</a></li>
          </ul>
        </header>
      </div>

      <!-- Listaus aktiivisista kyselyistä -->
      <div class="container">
        <table class="table table-striped">
          <tr>
            <th>Kyselyn tekijä</th>
            <th>Linkki kyselyyn</th>
          </tr>
          <tr th:each="kysely : ${kyselyt}">
            <td th:text="${kysely.tekija}"></td>
            <td>"Linkki"</td>
          </tr>
        </table>
      </div>

    <!-- Lisää kysely -nappi -->
    <div class="container">
      <a th:href="@{/uusikysely}" class="btn btn-primary btn-lg btn-block">Lisää kysely</a>
    </div>

</body>
</html>

