<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Kyselyt</title>
</head>
<body>
    <!-- aloitussivu -->

    <!-- HEADER -->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="index" th:href="@{/index}" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="uusikysely" th:href="@{/uusikysely}" class="nav-link">Uusi kysely</a></li>
            <li class="nav-item list-group-item-danger "><a href="#" class="nav-link" >Log out</a></li>
          </ul>
        </header>
      </div>

      <!-- Listaus aktiivisista kyselyistä -->
      <div class="container">
        <h1>Kaikki kyselyt</h1>
        <table class="table table-striped">
          <tr>
            <th>Kyselyn nimi</th>
            <th>Kyselyn kuvaus</th>
            <th>Kyselyn tekijä</th>
            <th>Linkki kyselyyn</th>
          </tr>
          <tr th:each="kysely : ${kyselyt}">
            <td th:text="${kysely.nimi}"></td>
            <td th:text="${kysely.kyselynKuvaus}"></td>
            <td th:text="${kysely.kyselynTekija}"></td>
            <!-- <td>"Linkki"</td> -->
            <!-- Linkki-toiminnallisuus ei vielä toimi -->
            <td><a th:href="@{'/tarkastelekyselya/' + ${kysely.kyselyid}}" class="btn btn-primary">Katso kysely</a></td>
          </tr>
        </table>
      </div>

      <!-- Vanha ratkaisu, poistetaanko? -->
    <!-- Lisää kysely -nappi joka ohjaa uusikysymys-pohjaan -->
<!--     <div class="container">
      <a th:href="@{/uusikysely}" class="btn btn-primary btn-lg btn-block">Lisää kysely</a>
    </div> -->

    <div class="container">
      <h1> Luo uusi kysely</h1>
      <form action="/tallennakysely" th:object="${kysely}" method="POST">
        <label for="nimi">Kyselyn nimi:</label>
        <input type="text" id="nimi" name="nimi" required> <!-- required, eli ei voi olla tyhjä -->

        <label for="kuvaus">Kyselyn kuvaus:</label>
        <input type="text" id="kuvaus" name="kuvaus"> 
    
        <label for="tekijat">Valitse tekijä:</label>
        <select id="tekijat" name="tekijaid">
            <option value="">Valitse tekijä</option>
            <!-- Loop through the list of tekijat and create an option for each -->
            <option th:each="tekija : ${tekijat}" th:value="${tekija.tekijaid}" th:text="${tekija.nimi}"></option>
        </select>
    
        <button type="submit" class="btn btn-primary">Tallenna kysely (keksi kuvaavampi)</button>
    </form>
  </div>

</body>
</html>

