<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muokkaa kysymystä</title>
</head>
 
<body>
    <h1>Muokkaa kysymystä</h1>
    <form th:action="@{/update/{kysymysid}(kysymysid=${kysymys.kysymysid})}" th:object="${kysymys}"
        method="post">

        
 
        <table>
            <tr>
                <td>Title:</td>
                <td><input type="text" th:field="*{sisalto}" /></td>
            </tr>
            
          
                
 
            
                <td><input type="hidden" th:field="*{kysymysid}" /></td>
                <td><button type="submit">Päivitä kysymys</button></td>
            </tr>
 
        </table>
    </form>
</body>
 
</html>