<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Lisää kysely</title>
</head>
<body>
    <!-- Lisää uusi kysely -->

    <!-- HEADER -->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="index" th:href="@{/index}" aria-current="page" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="uusikysely" th:href="@{/uusikysely}" class="nav-link active" >Uusi kysely</a></li>
            <li class="nav-item list-group-item-danger "><a href="#" class="nav-link" >Log out</a></li>
          </ul>
        </header>
      </div>
    
      <!-- TEKSTI -->

      <div class="container">
        <h1><span th:text="${kysely.nimi}"></span>  kysymykset:</h1>
            <table class="table table-striped">
              <tr>
                <!-- <th>Kysymys ID</th> -->
                <th>Kysymyksen sisältö</th>
              </tr>
              <tr th:each="kysymys : ${kysymykset}">
                <!-- <td th:text="${kysymys.kysymysid}"></td> -->
                <td th:text="${kysymys.sisalto}"></td>
              </tr>
            </table>



            <h2>Tallenna uusi Kysymys</h2>
            <form action="/tallennakysymysmuokkauksessa" method="post" th:object="${kysymys}">
                <label for="sisalto">Sisaltö:</label>
                <input type="text" id="sisalto" name="sisalto" required size="29"><br><br>

                <input type="hidden" id="kysely" name="kysely" th:value="${kysely.kyselyid}">
                      
                <button type="submit" class="btn btn-primary">Tallenna kysymys</button>
            </form>

      </div>

</body>
</html>

