<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  <title>Lisää kysely</title>
</head>

<body>
  <!-- Lisää uusi kysely -->

  <!-- HEADER -->
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="index" th:href="@{/index}" aria-current="page" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="uusikysely" th:href="@{/uusikysely}" class="nav-link active">Uusi kysely</a></li>
        <li class="nav-item list-group-item-danger "><a href="#" class="nav-link">Log out</a></li>
      </ul>
    </header>
  </div>

  <!-- TEKSTI -->

  <div class="container">


    <!-- Kysely Form ja tallennys -->
    <!-- <form action="#" th:action="@{/tallennakysely}" th:object="${kysely}" method="POST"> -->
    <form action="/tallennakysely" th:object="${kysely}" method="POST">
      <label for="nimi">Kyselyn nimi:</label>
      <input type="text" id="nimi" name="nimi" >
      <button type="submit" class="btn btn-primary">Tallenna kysely</button>
    </form>


    <!-- Kysymys tallennys ja form -->
    <h2>Tallenna uusi Kysymys</h2>
    <form action="/tallennakysymys" method="post" th:object="${kysymys}">
        <label for="sisalto">Sisaltö:</label>
        <input type="text" id="sisalto" name="sisalto" required size="29"><br><br>
        
        <input type="hidden" id="kysely" name="kysely" th:value="${linkitettyKysely.kyselyid}">

        <button type="submit" class="btn btn-primary">Tallenna kysymys</button>
    </form>
    

    


<!-- Listaus ihan hyvä, tee jatkossa että näyttää vain tämän kyselyn kysymykset, nyt näyttää kaikki -->
    <!-- CONSOLE.loggaus -->
    <table class="table table-striped">
      <tr>
        <th>Kyselyn sisältö</th>
        <th>KYSELY</th>
      </tr>
      <tr th:each="kysymys : ${kysymykset}">
        <td th:text="${kysymys.sisalto}"></td>
        <td th:text="${kysymys.getKysely()}"></td>
      </tr>
    </table>

    <!-- Console loggaus vain -->
    <table>
      <td th:text="${linkitettyKysely}">
        </th:text>
    </table>

  </div>

</body>

</html>